@import url('./reset.css');

body {
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 1rem;
  height: 1rem;
  background-color: orange;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
}

.board {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(203, 203, 203);
}

.ball {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  z-index: 500;
}

.score {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #262625;
  pointer-events: none; 
}

.interval-timer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #262625;
  pointer-events: none;
  z-index: 900;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: red;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 600;

  & .end-score {
    color: #262625;
    font-size: 3rem;
  }
}

.board.disabled {
  pointer-events: none; 
}

.leaderboard {
  position: absolute;
  top: 4rem; 
  left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #262625;
  pointer-events: none;

  & ul {
    list-style: none;
    padding-left: 0.5rem;
  }

  & li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;

    & span {
      display: block;
    }
  }
}