.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--spacing-base);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  padding-top: var(--spacing-section);

  @media screen and (min-width: 768px) {
    padding-inline: var(--spacing-lg);
  }
}

.container--steps {
  padding-bottom: var(--spacing-xl);
}

.container--hero {
  text-align: center;

  & h1 {
    font-size: var(--font-lead);
    font-weight: 700;
  }
}

